body {background-color: rgba(123, 124, 131, 0.711);}

p{color: rgb(245, 239, 239);}
.rick {font-style: italic;}
h1{text-align: center;
color: #f0f8ff;}
li{color: aliceblue;}
.omelete{width: 30%;}
h2{color: #f0f8ff;}
h3{color: #f0f8ff;}
header {border-bottom:solid 3px #cbcdce;
padding: 20px;
font-size: 20px;
display: flex;
justify-content: center;}
